## Lab - Anamoly Detection using Outlier Analysis

Outlier Analysis is used by many organizations for various purposes. We are going to identify outliers using two different methods in this problem: 

1) Using Interquantile range <br>

2) Using PyOD and K-means

We will be using the Glass dataset for this lab. The data deals with identifying different types of glass for criminological investigations. This is a UCI dataset, which can be found [here](https://archive.ics.uci.edu/ml/datasets/Glass+Identification). The columns of the dataset are: 

Attribute Information:
   1. Id number: 1 to 214 <br>
   2. RI: refractive index <br>
   3. Na: Sodium (unit measurement: weight percent in corresponding oxide, as 
                  are attributes 4-10)
   4. Mg: Magnesium <br>
   5. Al: Aluminum <br>
   6. Si: Silicon <br>
   7. K: Potassium <br>
   8. Ca: Calcium <br>
   9. Ba: Barium <br>
  10. Fe: Iron <br>
  11. Type of glass: (class attribute) <br>
  
      - 1 building_windows_float_processed <br>
      - 2 building_windows_non_float_processed <br>
      - 3 vehicle_windows_float_processed <br>
      - 4 vehicle_windows_non_float_processed (none in this database) <br>
      - 5 containers <br>
      - 6 tableware <br>
      - 7 headlamps <br>

Source: [UCI glass dataset](https://archive.ics.uci.edu/ml/datasets/Glass+Identification)

This dataset is intented for classification; we have to use the concentration of eleements to identify the typ of glass found on the crime scene. The labels are given in the last column. 

For our purposes, we will use certain columns in the data to identify outliers. We ask

1) What are the outliers in the 5 th column i.e the Aluminum weight percent. This is just an example you can do this for any column  <br>
2) Can we use IForest algorithm from pyod to detect and label outliers?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
from pyod.models.iforest import IForest
from scipy import stats
from scipy.interpolate import Rbf

glass_df = pd.read_csv("../../../data/glass.csv")
glass_df.head()

,Id_Number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type_of_glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,1