# Lab: Decision Statements and Loops
In this lab you will work on problems using loops and decision statements. We are going to be using the Iris dataset that was introduced in the Data Structures in Python lesson.

In [1]:
from sklearn.datasets import load_iris
import random
iris_dataset = load_iris()
target = list(iris_dataset.target) 
dataset = list(iris_dataset.data)
target_names = list(iris_dataset.target_names)

random.seed(1)
indx_list = [i for i in range(len(target))]
random.shuffle(indx_list)

We will be exploring the iris dataset again and looking at some of the operations we can perform on the dataset. For loops especially are really useful for things of list comprehensions. We will give a couple of examples of that. So lets get started.

In [2]:
# Convert the dataset variable to a list of lists

# First, get the type of a single element of dataset
dataset_row_type = "####"

print("The type of a single row in a dataset : {}".format(dataset_row_type))

# Since the row is type ndarray convert it to a list of lists
# note you want to do this within a list hence it will have 
# the format  list_new = [list(x) for x in old_list] where
# old_list is our list of ndarrays
dataset_list = ["####"]

# Find the type of the new row. This is just 
# to confirm that we have done the correc operation 
new_row_type =  "####"
print("Type of new row : {}".format(new_row_type))

The type of a single row in a dataset : <class 'numpy.ndarray'>
Type of new row : <class 'list'>

The type of a single row in a dataset : <class 'numpy.ndarray'> <br>
Type of new row : <class 'list'>

In the Data structures with Python lab, we assigned the flower name to a single element of the target variable. Now that you know how to use a for loop you can do so for all the elements of target. Rather than a dictionary, we will use an if statement here. We will seperate out the first class and create a new list with just the names of the first class. 

For this part are going to use the variable ```indx_list``` to loop over ```target```. We have randomized the index for ```target``` and your job is store the result only if the target is 1. 

Following this we will try to extract a single column of the dataset using a for loop

In [3]:
# We first initialize an empty list which will stored the named labels
target_named  = "####"

# Next we loop over all the elements of the target. To do this, we will be looping
# over indx_list, you will have to write a if statement that stores the flower class
# in target_named only if target is equal to 1.
for indx in "####": 
    if "####":
        flower_class = "####"
        "####" # append flower class to target named

len_target_named = "####"
target_named = target_named[0]        
print("Name of the class selected {}, length of target_named {}".format(target_named, len_target_named))

Name of the class selected versicolor, length of target_named 50

Name of the class selected versicolor, length of target_named 50

In [4]:
# Next we will try to get a single column of data from the variable dataset
# The first column in the dataset is the 0 th element of all the rows in 
# dataset. We will loop over all the rows and store only the 0 th row 

# Initilize a list to store the column values
dataset_col = "####"

# Write a for loop to loop over each row of the list dataset. Remember 
# the for loop should not be over the index of dataset but over dataset variable
for row in "####": 
    "####" # append the 0th element of the row to dataset_col

# Length of column
col_length = "####"


print("Length of column : {}".format(col_length))
print("Dataset's first column values: {}".format(dataset_col))

Length of column : 150
Dataset's first column values: [5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3, 5.0, 7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5.0, 5.9, 6.0, 6.1, 5.6, 6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7, 6.0, 5.7, 5.5, 5.5, 5.8, 6.0, 5.4, 6.0, 6.7, 6.3, 5.6, 5.5, 5.5, 6.1, 5.8, 5.0, 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5, 7.7, 7.7, 6.0, 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2, 7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6.0, 6.9, 6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9]

Length of column : 150 <br>
Dataset's first column values: [5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3, 5.0, 7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5.0, 5.9, 6.0, 6.1, 5.6, 6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7, 6.0, 5.7, 5.5, 5.5, 5.8, 6.0, 5.4, 6.0, 6.7, 6.3, 5.6, 5.5, 5.5, 6.1, 5.8, 5.0, 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5, 7.7, 7.7, 6.0, 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2, 7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6.0, 6.9, 6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9]

In [5]:
# Next we are going to calcuate the mean of the values in the first row
# this operation would be easier do if we had a numpy array but this is 
# a good excercise for working with for loops

# Initalize the sum to 0
sum_col = "####"

# To get the mean, first we need the sum of all the values in a list
# use a for loop to calcuate the sum. Again, remember you dont need
# to loop over the index you can loop over each element of the list
# add each value in dataset_col to sum_col
for val in "####": 
   "####" # add value to sum_col 

# Calculate the mean of dataset_col by dividing the sum with column length
mean_col = "####"

print("The mean value of the first column is : {}".format(mean_col))

The mean value of the first column is : 5.843333333333335

The mean value of the first column is : 5.843333333333335

You should keep in mind that we could have summed the list dataset_col in a alternate way using ```sum(dataset_col)```. That is easier to write than the for loop that you wrote above and ideally you should use that. We made you sum using the for loop just to get you comfortable with the syntax. 

Next up, we will seperate all values in the first column using the mean.

In [7]:
# First let us initialize two empty lists to store values less than or greater than the mean
less_than_mean = []
more_than_mean = []

# Write a for loop where you loop over dataset_col value and write an if statement that stores
# values less than or equal to the mean in less_than_mean list and more than the mean in more_than_mean list

for val in dataset_col: 
    
    if "####": 
        less_than_mean.append(val)
    else: 
        more_than_mean.append(val)
        
        
# Get length of less_than_mean and more_than_mean lists
len_less = "####"
len_more = "####"


print("Length of less than mean and more than mean lists : {}, {}".format(len_less, len_more))

Length of less than mean and more than mean lists : 80, 70

Length of less than mean and more than mean lists : 80, 70

The above result makes sense since the length of ```datase_col``` is 150. Hence the 80 and 70 add upto 150. 
While for loops are very useful in python, for numerical calcuations its better to use numpy. Numpy does vectorized calcuations which can be used to circumvent a for loop making the whole calcuation faster. 

Lastly, you can implement the same thing as above using a while loop rather than a for loop. However, while loops are best used when a specific condition is to be met. We will see usecases of other conditional statements in subsequent labs.