# Lab: Data Structures in Python
Welcome to your first major lab on refactored! In this lab we will work through excercise to test and solify your understanding of data structures in python. There are multiple excercise with multiple data types.

In [1]:
from sklearn.datasets import load_iris

iris_dataset = load_iris()
target = list(iris_dataset.target) 
dataset = list(iris_dataset.data)
target_names = list(iris_dataset.target_names)

We will be using the Iris Dataset for this assigment.  To read more about the Iris Dataset go here (https://archive.ics.uci.edu/ml/datasets/iris). The Iris dataset is a very popular machine learning dataset. It is typically used to benchmark Machine Learning algorithms, almost like a scale to measure what is the effectiveness of an algorithm. For today's lab, we will be exploring the data types within the dataset and storing the data in different ways. 

A data set typically contains features. Which are used to predict a target. The target is what we are trying to predict. Above, we have loaded the target data into a variable called ```target```. The features data into the variable ``` dataset```. In the Iris dataset, the goal is to predict three differnt types of flowers, the names of the flowers are given in the variable ```target_names```

In [2]:
# First we want to test the data types of the 
# three variables we have mentioned above 

type_target = type(target)
type_dataset = type(dataset)
type_target_names = type(target_names) 

print("Type of each variable is \n{} \n{} \n{}".format(type_target, type_dataset, type_target_names))

Type of each variable is
<class 'list'>
<class 'list'>
<class 'list'>

Type of each variable is <br>
<class 'list'> <br> 
<class 'list'> <br>
<class 'list'> <br>

In [3]:
# Next lets check what is the type of a single element of each list

type_target = type(target[0])
type_dataset = type(dataset[0])
type_target_names = type(target_names[0]) 

print("Type of each variable is \n{} \n{} \n{}".format(type_target, type_dataset, type_target_names))

Type of each variable is
<class 'numpy.int64'>
<class 'numpy.ndarray'>
<class 'numpy.str_'>

Type of each variable is <br>
<class 'numpy.int64'> <br>
<class 'numpy.ndarray'> <br>
<class 'numpy.str_'> <br>

If we print the values of target, we will find that it consists of 0s, 1s and 2s. The integers 0s, 1s and 2s are integer labels that represent each type of flower in the iris dataset. The corresponding name of the the flower is given by the ```target_names``` variable. Hence we can write a dictionary to hold this relationship

In [4]:
# Write a dictionary that maps the values 0, 1 and 2 to the names in the variable target_names. 
# The order is 0 corresponds to target_names[0], 1 corresponds to target_names[1] and 2 corresponds to target_names[2]

int_to_name  = {0:target_names[0], 1:target_names[1], 2:target_names[2]}

# Now build the oppose, where the keys of the dict are the target names and the integer labels are values
name_to_int = {target_names[0]:0, target_names[1]:1, target_names[2]:2}

# int to name keys
int_name_keys = list(int_to_name.keys())

# name to int keys
name_int_keys = list(name_to_int.keys())

# Test: Flower name in the second index
second_flower = int_to_name[1]

print("List of keys for int_to_name: {}".format(int_name_keys))
print("List of keys for name_to_int: {}".format(name_int_keys))
print("Name of second flower: {}".format(second_flower))

List of keys for int_to_name: [0, 1, 2]
List of keys for name_to_int: ['setosa', 'versicolor', 'virginica']
Name of second flower: versicolor

List of keys for int_to_name: [0, 1, 2] <br>
List of keys for name_to_int: ['setosa', 'versicolor', 'virginica']<br>
Name of second flower: versicolor<br>

In [5]:
# Next lets take a look at a row of the dataset. Select the 11 th row of the dataset
single_row = dataset[10]

# We have selected the 11th row of the dataset. Print the values 
print("The 11 th row the dataset has the values: {}".format(single_row))

The 11 th row the dataset has the values: [5.4 3.7 1.5 0.2]

The 11 th row the dataset has the values: [5.4 3.7 1.5 0.2]

Each element of the list ```dataset``` is a numpy array. We will convert those to a list for you.

In [36]:
# Converting a list of numpy arrays to a list lists
dataset_list = [list(x) for x in dataset] 

# Get the first value of the 10th list and print it.
# Remember that dataset_list is a of list
element_val = dataset_list[9][0]
print("The first element of the 10th row has the value: {}".format(element_val))

The first element of the 10th row has the value: 4.9

The first element of the 10th row has the value: 4.9

Next we want to convert all the integer labels in target to flower names. Lets start by doing this for a single element.

In [7]:
target_new = target.copy()
# Convert the 10th element in the list to a string and print elements from 8 to 10 of the list target
target_new[9] = int_to_name[target[9]]

# Print elements 8 through 10 from the list target. 
# Note for the 10th element you need to add +1 the last index. 
print("Elements 8 through 10 are {}".format(target_new[8:11]))

Elements 8 through 10 are [0, 'setosa', 0]

Elements 8 through 11 are [0, 'setosa', 0]

In [12]:
# Now we want to combine 9th element of list target with the 9th element of the dataset. 
# Basically we are going to be adding two list

# Store the value of the 9th row of target_new as a list
single_target_element = [target_new[9]]

# Store the 9 th row of list dataset_list
single_row_dataset = dataset_list[9]

# Combine both the lists above to get combined list. 
combined_list  = single_row_dataset + single_target_element

print("The combined list is: {}".format(combined_list))

The combined list is: [4.9, 3.1, 1.5, 0.1, 'setosa']

The combined list is: [4.9, 3.1, 1.5, 0.1, 'setosa']

Suppose we want to remove one the elements list ```combined_list```. How will we do it?

In [14]:
# Remove the 2nd element from the list combined_list. Make sure that you create a copy of it before removing it

# Create a new copy of combined_list 
combined_list_new = combined_list.copy()

# You can use pop to remove a element from the list by index. By default pop just removes the element of a list.
combined_list_new.pop(1)

print("The new combined list is: {}".format(combined_list_new))

The new combined list is: [4.9, 1.5, 0.1, 'setosa']

In [33]:
# Suppose I want reverse the new combined_list. How would be do it?
# Hint- It is possible to do it in 1 line, we just have select everything using : 
# and use :-1 for reverse
reversed_combined_list = combined_list_new[::-1]
print("The reversed list is : {}".format(reversed_combined_list))

The reversed list is : ['setosa', 0.1, 1.5, 4.9]

The reversed list is : ['setosa', 0.1, 1.5, 4.9]

[[5.1, 3.5, 1.4, 0.2],
 [4.9, 3.0, 1.4, 0.2],
 [4.7, 3.2, 1.3, 0.2],
 [4.6, 3.1, 1.5, 0.2],
 [5.0, 3.6, 1.4, 0.2],
 [5.4, 3.9, 1.7, 0.4],
 [4.6, 3.4, 1.4, 0.3],
 [5.0, 3.4, 1.5, 0.2],
 [4.4, 2.9, 1.4, 0.2],
 [4.9, 3.1, 1.5, 0.1],
 [5.4, 3.7, 1.5, 0.2],
 [4.8, 3.4, 1.6, 0.2],
 [4.8, 3.0, 1.4, 0.1],
 [4.3, 3.0, 1.1, 0.1],
 [5.8, 4.0, 1.2, 0.2],
 [5.7, 4.4, 1.5, 0.4],
 [5.4, 3.9, 1.3, 0.4],
 [5.1, 3.5, 1.4, 0.3],
 [5.7, 3.8, 1.7, 0.3],
 [5.1, 3.8, 1.5, 0.3],
 [5.4, 3.4, 1.7, 0.2],
 [5.1, 3.7, 1.5, 0.4],
 [4.6, 3.6, 1.0, 0.2],
 [5.1, 3.3, 1.7, 0.5],
 [4.8, 3.4, 1.9, 0.2],
 [5.0, 3.0, 1.6, 0.2],
 [5.0, 3.4, 1.6, 0.4],
 [5.2, 3.5, 1.5, 0.2],
 [5.2, 3.4, 1.4, 0.2],
 [4.7, 3.2, 1.6, 0.2],
 [4.8, 3.1, 1.6, 0.2],
 [5.4, 3.4, 1.5, 0.4],
 [5.2, 4.1, 1.5, 0.1],
 [5.5, 4.2, 1.4, 0.2],
 [4.9, 3.1, 1.5, 0.2],
 [5.0, 3.2, 1.2, 0.2],
 [5.5, 3.5, 1.3, 0.2],
 [4.9, 3.6, 1.4, 0.1],
 [4.4, 3.0, 1.3, 0.2],
 [5.1, 3.4, 1.5, 0.2],
 [5.0, 3.5, 1.3, 0.3],
 [4.5, 2.3, 1.3, 0.3],
 [4.4, 3.2, 1.3, 0.2],
 [5.0, 3.5, 1.6, 0.6],
 [5.1, 3.8, 1.9, 0.4],
 [4.8, 3.0, 1.4, 0.3],
 [5.1, 3.8, 1.6, 0.2],
 [4.6, 3.2, 1.4, 0.2],
 [5.3, 3.7, 1.5, 0.2],
 [5.0, 3.3, 1.4, 0.2],
 [7.0, 3.2, 4.7, 1.4],
 [6.4, 3.2, 4.5, 1.5],
 [6.9, 3.1, 4.9, 1.5],
 [5.5, 2.3, 4.0, 1.3],
 [6.5, 2.8, 4.6, 1.5],
 [5.7, 2.8, 4.5, 1.3],
 [6.3, 3.3, 4.7, 1.6],
 [4.9, 2.4, 3.3, 1.0],
 [6.6, 2.9, 4.6, 1.3],
 [5.2, 2.7, 3.9, 1.4],
 [5.0, 2.0, 3.5, 1.0],
 [5.9, 3.0, 4.2, 1.5],
 [6.0, 2.2, 4.0, 1.0],
 [6.1, 2.9, 4.7, 1.4],
 [5.6, 2.9, 3.6, 1.3],
 [6.7, 3.1, 4.4, 1.4],
 [5.6, 3.0, 4.5, 1.5],
 [5.8, 2.7, 4.1, 1.0],
 [6.2, 2.2, 4.5, 1.5],
 [5.6, 2.5, 3.9, 1.1],
 [5.9, 3.2, 4.8, 1.8],
 [6.1, 2.8, 4.0, 1.3],
 [6.3, 2.5, 4.9, 1.5],
 [6.1, 2.8, 4.7, 1.2],
 [6.4, 2.9, 4.3, 1.3],
 [6.6, 3.0, 4.4, 1.4],
 [6.8, 2.8, 4.8, 1.4],
 [6.7, 3.0, 5.0, 1.7],
 [6.0, 2.9, 4.5, 1.5],
 [5.7, 2.6, 3.5, 1.0],
 [5.5, 2.4, 3.8, 1.1],
 [5.5, 2.4, 3.7, 1.0],
 [5.8, 2.7, 3.9, 1.2],
 [6.0, 2.7, 5.1, 1.6],
 [5.4, 3.0, 4.5, 1.5],
 [6.0, 3.4, 4.5, 1.6],
 [6.7, 3.1, 4.7, 1.5],
 [6.3, 2.3, 4.4, 1.3],
 [5.6, 3.0, 4.1, 1.3],
 [5.5, 2.5, 4.0, 1.3],
 [5.5, 2.6, 4.4, 1.2],
 [6.1, 3.0, 4.6, 1.4],
 [5.8, 2.6, 4.0, 1.2],
 [5.0, 2.3, 3.3, 1.0],
 [5.6, 2.7, 4.2, 1.3],
 [5.7, 3.0, 4.2, 1.2],
 [5.7, 2.9, 4.2, 1.3],
 [6.2, 2.9, 4.3, 1.3],
 [5.1, 2.5, 3.0, 1.1],
 [5.7, 2.8, 4.1, 1.3],
 [6.3, 3.3, 6.0, 2.5],
 [5.8, 2.7, 5.1, 1.9],
 [7.1, 3.0, 5.9, 2.1],
 [6.3, 2.9, 5.6, 1.8],
 [6.5, 3.0, 5.8, 2.2],
 [7.6, 3.0, 6.6, 2.1],
 [4.9, 2.5, 4.5, 1.7],
 [7.3, 2.9, 6.3, 1.8],
 [6.7, 2.5, 5.8, 1.8],
 [7.2, 3.6, 6.1, 2.5],
 [6.5, 3.2, 5.1, 2.0],
 [6.4, 2.7, 5.3, 1.9],
 [6.8, 3.0, 5.5, 2.1],
 [5.7, 2.5, 5.0, 2.0],
 [5.8, 2.8, 5.1, 2.4],
 [6.4, 3.2, 5.3, 2.3],
 [6.5, 3.0, 5.5, 1.8],
 [7.7, 3.8, 6.7, 2.2],
 [7.7, 2.6, 6.9, 2.3],
 [6.0, 2.2, 5.0, 1.5],
 [6.9, 3.2, 5.7, 2.3],
 [5.6, 2.8, 4.9, 2.0],
 [7.7, 2.8, 6.7, 2.0],
 [6.3, 2.7, 4.9, 1.8],
 [6.7, 3.3, 5.7, 2.1],
 [7.2, 3.2, 6.0, 1.8],
 [6.2, 2.8, 4.8, 1.8],
 [6.1, 3.0, 4.9, 1.8],
 [6.4, 2.8, 5.6, 2.1],
 [7.2, 3.0, 5.8, 1.6],
 [7.4, 2.8, 6.1, 1.9],
 [7.9, 3.8, 6.4, 2.0],
 [6.4, 2.8, 5.6, 2.2],
 [6.3, 2.8, 5.1, 1.5],
 [6.1, 2.6, 5.6, 1.4],
 [7.7, 3.0, 6.1, 2.3],
 [6.3, 3.4, 5.6, 2.4],
 [6.4, 3.1, 5.5, 1.8],
 [6.0, 3.0, 4.8, 1.8],
 [6.9, 3.1, 5.4, 2.1],
 [6.7, 3.1, 5.6, 2.4],
 [6.9, 3.1, 5.1, 2.3],
 [5.8, 2.7, 5.1, 1.9],
 [6.8, 3.2, 5.9, 2.3],
 [6.7, 3.3, 5.7, 2.5],
 [6.7, 3.0, 5.2, 2.3],
 [6.3, 2.5, 5.0, 1.9],
 [6.5, 3.0, 5.2, 2.0],
 [6.2, 3.4, 5.4, 2.3],
 [5.9, 3.0, 5.1, 1.8],
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]


## Grocery List

Given a grocery list with the items and quantity, for 3 friends Alice, Bob and Charlie. You are also provided a price list for all the items. Write a python program to calculate the total bill amount for Alice, Bob, and Charlie and save it in a dictionary object.

Input Example: grocery_list = {"Alice" : {"Apples": 10 , "Bananas" : 5}}

price_list = {"Apples" : 1.00, "Bananas" : 0.50}

Output Example:
bills = {"Alice" : 12.50}

In [9]:
#Data 
grocery_list = {"Alice" : {"Apples": 3 , "Bananas" : 2, "Potatoes": 20 , "Tomatoes" : 20} , "Bob" : {"Apples": 15 , "Bananas" : 8, "Potatoes": 6 }, "Charlie" : {"Apples": 20 , "Bananas" : 12, "Tomatoes" : 18}}
price_list = {"Apples" : 1.00, "Bananas" : 0.50 , "Potatoes": 2.00 , "Tomatoes" : 5.50}